# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env
.venv

# Streamlit
.streamlit/secrets.toml

# Datos de usuarios
user_data/

# Archivos temporales
*.tmp
*.log
*.mp3
*.wav

# IDE
.vscode/
.idea/
